<form class="d-flex flex-column align-self-center align-items-center" style="margin-bottom: 8px;">
  <mat-form-field>
    <input matInput placeholder="transactionID" type="text" name="IDInput" [(ngModel)]="IDValue" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Time (ISO-8601 Format)" type="text" name="timeInput" [(ngModel)]="timeValue" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="total" type="text" name="totalInput" [(ngModel)]="totalValue">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="tip" type="text" name="tipInput" [(ngModel)]="tipValue">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="bar" type="text" name="barInput" [(ngModel)]="barValue" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="drinker" type="text" name="drinkerInput" [(ngModel)]="drinkerValue" required>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onSubmit()" style="margin-left: 8px;">Add Transaction</button>
  <div style="width: 48px; height: 48px;">
    <mat-spinner [diameter]="48" color="accent" [hidden]="spinnerHidden"></mat-spinner>
  </div>
</form>
