<div>
  <mat-toolbar color="primary">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/drinkers">Drinkers</button>
    <button mat-button [matMenuTriggerFor]="barsMenu">Bars</button>
    <button mat-button routerLink="/beers">Beers</button>
    <button mat-button>Query</button>
    <button mat-button [matMenuTriggerFor]="modifyMenu">Modify</button>
  </mat-toolbar>

  <mat-menu #barsMenu="matMenu">
    <button mat-menu-item routerLink="/bars">Bar</button>
    <button mat-menu-item routerLink="/add-transaction">Add Transaction</button>
  </mat-menu>

  <mat-menu #modifyMenu="matMenu">
    <button mat-menu-item>Modify</button>
  </mat-menu>

  <div style="margin-top: 16px; margin-bottom: 16px; margin-left: 32px; margin-right: 32px;" class="flex-grow-1 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
