<div class="flex-grow-1 d-flex flex-column h-100">
  <mat-toolbar color="primary">
    <button mat-raised-button color="primary"><a routerLink="/home">Home</a></button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="drinkersMenu">Drinkers</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="BarsMenu">Bars</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="BeersMenu">Beers</button>
    <button mat-raised-button color="primary">Query</button>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="ModifyMenu">Modify</button>
  </mat-toolbar>

  <mat-menu #drinkersMenu="matMenu">
    <button mat-menu-item>Drinkers</button>
    <button mat-menu-item><a routerLink="/drinker">Drinker</a></button>
  </mat-menu>

  <mat-menu #BarsMenu="matMenu">
    <button mat-menu-item>Top Drinker</button>
    <button mat-menu-item>Popular beers</button>
    <button mat-menu-item>Best Sellers</button>
    <button mat-menu-item>Time Distribution</button>
  </mat-menu>

  <mat-menu #BeersMenu="matMenu">
    <button mat-menu-item> Beers</button>
    <button mat-menu-item>Beer</button>
  </mat-menu>

  <mat-menu #ModifyMenu="matMenu">
    <button mat-menu-item>Modify</button>
  </mat-menu>

  <router-outlet></router-outlet>
</div>
