<div>
  <mat-toolbar color="primary">
    <a mat-button routerLink="/home" color="accent">Home</a>
    <a mat-button routerLink="/drinkers" color="primary">Drinkers</a>
    <a mat-button color="primary">Bars</a>
    <a mat-button color="primary">Beers</a>
    <a mat-button color="primary">Query</a>
    <a mat-button [matMenuTriggerFor]="modifyMenu" color="primary">Modify</a>
  </mat-toolbar>

  <mat-menu #modifyMenu="matMenu">
    <button mat-menu-item>Modify</button>
  </mat-menu>

  <div style="margin-top: 16px; margin-bottom: 16px; margin-left: 32px; margin-right: 32px;" class="flex-grow-1 d-flex align-items-center justify-content-center">
    <router-outlet></router-outlet>
  </div>
</div>
